{{set . "title" "Demo"}}
{{template "header.html" .}}

<h1>OpenRDAP live demo</h1>
<p>This page runs a sandboxed version of the latest version of OpenRDAP. Click an example command, or write your own:</p>
<table>
    <tr>
        <th style="text-align: left">Query</th>
        <th style="text-align: left">Link</th>
    </tr>

    <tr>
        <td>Help page</td><td><a href="demo?cmd=rdap --help">rdap --help</a></td>
    </tr>
    <tr>
        <td>Domain (.com)</td><td><a href="demo?cmd=rdap -v example.com">rdap -v example.com</a></td>
    </tr>
    <tr>
        <td>Domain (.com)</td><td><a href="demo?cmd=rdap -v -w example.com">rdap -v -w example.com</a> (WHOIS style output)</td>
    </tr>
    <tr>
        <td>Network</td><td><a href="demo?cmd=rdap -v 2001:db8::">rdap -v 2001:db8::</a></td>
    </tr>
    <tr>
        <td>Autnum</td><td><a href="demo?cmd=rdap -v AS15169">rdap -v AS15169</a></td>
    </tr>
    <tr>
        <td>Nameserver</td><td><a href="demo?cmd=rdap -v -t nameserver -s https://rdap.verisign.com/com/v1 ns1.google.com">rdap -v -t nameserver -s https://rdap.verisign.com/com/v1 ns1.google.com</a></td>
    </tr>
    <tr>
        <td>Help</td><td><a href="demo?cmd=rdap -v -t help -s https://rdap.verisign.com/com/v1">rdap -v -t help -s https://rdap.verisign.com/com/v1</a></td>
    </tr>
</table>
</p>

<form method="get" action="/demo">
<input id="cmd" style="width:650px" type="text" name="cmd" value="{{.cmd}}"> <input type="submit" value="Run">
</form>

<pre id="output">
</pre>
<img src="/public/img/loading.gif" id="loading">

<script>
var socket = new WebSocket('wss://www.openrdap.org/websocket/rdap?cmd={{.cmd}}');

socket.onmessage = function(event) {
    var msg = JSON.parse(event.data);
    document.getElementById("output").innerHTML += msg.Text;
}


function hideLoading(event) {
    document.getElementById("loading").style.visibility = "hidden";
}

socket.onclose = hideLoading;
socket.onerror = hideLoading;

cmd = document.getElementById("cmd");
cmd.focus();
cmd.selectionStart = cmd.selectionEnd = cmd.value.length;
</script>

{{template "footer.html" .}}
