{{set . "title" "Demo"}}
{{template "header.html" .}}

<h1>Demo</h1>
<p>Click an example command, or write your own:<br>
<table style="font-size:smaller">
    <tr>
        <th>Query type</th>
        <th>Link</th>
    </tr>

    <tr>
        <td>Help page</td><td><a href="demo?cmd=rdap --help">rdap --help</a> (many options listed not implemented yet!)</td>
    </tr>
    <tr>
        <td>Domain</td><td><a href="demo?cmd=rdap -v example.cz">rdap -v example.cz</a></td>
    </tr>
    <tr>
        <td>Domain (test bootstrap)</td><td><a href="demo?cmd=rdap -v -e example.com">rdap -v -e example.com</a></td>
    </tr>
    <tr>
        <td>Network</td><td><a href="demo?cmd=rdap -v 2001:db8::">rdap -v 2001:db8::</a></td>
    </tr>
    <tr>
        <td>Autnum</td><td><a href="demo?cmd=rdap -v AS15169">rdap -v AS15169</a></td>
    </tr>
    <tr>
        <td>Entity (test bootstrap)</td><td><a href="demo?cmd=rdap -v -e 1~VRSN">rdap -v -e 1~VRSN</a></td>
    </tr>
    <tr>
        <td>Nameserver</td><td><a href="demo?cmd=rdap -v -t nameserver -s https://rdap-pilot.verisignlabs.com/rdap/v1 ns1.google.com">rdap -v -t nameserver -s https://rdap-pilot.verisignlabs.com/rdap/v1 ns1.google.com</a></td>
    </tr>
    <tr>
        <td>Help</td><td><a href="demo?cmd=rdap -v -t help -s https://rdap-pilot.verisignlabs.com/rdap/v1">rdap -v -t help -s https://rdap-pilot.verisignlabs.com/rdap/v1</a></td>
    </tr>
</table>
</p>

<form method="get" action="/demo">
<input id="cmd" style="width:500px" type="text" name="cmd" value="{{.cmd}}"> <input type="submit" value="Run">
</form>

<pre id="output">
</pre>
<img src="/public/img/loading.gif" id="loading">

<script>
var socket = new WebSocket('wss://www.openrdap.org/websocket/rdap?cmd={{.cmd}}');

socket.onmessage = function(event) {
    var msg = JSON.parse(event.data);
    document.getElementById("output").innerHTML += msg.Text;
}


function hideLoading(event) {
    document.getElementById("loading").style.visibility = "hidden";
}

socket.onclose = hideLoading;
socket.onerror = hideLoading;

cmd = document.getElementById("cmd");
cmd.focus();
cmd.selectionStart = cmd.selectionEnd = cmd.value.length;
</script>

{{template "footer.html" .}}
