{{set . "title" "RDAP command line client"}}
{{template "header.html" .}}
            
            <div class="callout">
                <a href="/api">rdap.net API</a> quick reference:<br>
                <div style="background-color:#fff;padding:5px;border:1px #ccc solid"><a href="https://www.rdap.net/domain/abc.com">https://www.rdap.net/domain/abc.com</a><br>
                    <a href="https://www.rdap.net/ip/8.8.8.8">https://www.rdap.net/ip/8.8.8.8</a><br>
                    <a href="https://www.rdap.net/ip/2001:db8::1/128">https://www.rdap.net/ip/2001:db8::1/128</a><br>
                    <a href="https://www.rdap.net/autnum/174">https://www.rdap.net/autnum/174</a><br>
            </div>
            </div>
            

            <p>OpenRDAP is a command line client for the <a href="https://en.wikipedia.org/wiki/Registration_Data_Access_Protocol">Registration Data Access Protocol</a>, written in <a href="https://www.golang.org">Go</a>.</p>
            <p>RDAP is a replacement for <a href="https://en.wikipedia.org/wiki/WHOIS">WHOIS</a>, which provides domain name &amp; IP address registration information in JSON format over HTTP.</p>
            <p>You can try some example queries using OpenRDAP here:</p>
<form method="get" action="/demo">
    <input id="cmd" type="text" name="cmd" value="rdap -v example.com"> <input type="submit" value="Run">
</form>
<form method="get" action="/demo">
    <input id="cmd" type="text" name="cmd" value="rdap -v 2a00:1450:4009:80a::200e"> <input type="submit" value="Run">
</form>
<form method="get" action="/demo">
    <input id="cmd" type="text" name="cmd" value="rdap -v AS174"> <input type="submit" value="Run">
</form>
<p>This website provides the OpenRDAP client, Go library, and an RDAP service (rdap.net).</p>
<h1>Features</h1>
<p>
<ul>
    <li>Small &amp; fast command line RDAP client.</li>
    <li>Supports all RDAP query types (domain, ip, asn, help, nameserver, and searches).</li>
    <li>Automatic query type detection (domain, ip, asn queries).</li>
    <li>Full bootstrapping support (using <a href="https://data.iana.org/rdap/">data.iana.org</a>, or a custom URL).</li>
    <li>Optional on-disk bootstrap files cache.</li>
    <li>Output formats: raw JSON, text, WHOIS format (domain queries).</li>
    <li>Customisable query timeout.</li>
</ul>
</p>
<h1>Experimental features</h1>
<p>
<ul>
    <li>Experimental object tag support.</li>
    <li>Experimental X509 certificate auth support.</li>
</ul>
</p>
<h1>Planned features</h1>
<p>
<ul>
    <li>Support for future ICANN layered access specification.</li>
    <li>Bootstrap for some search queries (e.g. abc*.com).</li>
</ul>
</p>
{{template "footer.html" .}}
